# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

